<%= @list.name %>
<%= button_to "Delete list", list_path(@list), method: :delete, data: { confirm: "Are you sure?" } %>

<% if @list.words.exists? %>
  <ul>
    <% @word.each do |word| %>
        <li><%= word %></li>
    <% end %>
  </ul>
<% end %>
